# Data Science Tools and Ecosystem

## Author
Janel Cook

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List some data science tools in a table
* Share some examples of evaluating arithetic expressions in Pyhon

Some of the popular languages that Data Scientists use are:

**Objectives:**

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Tensorflow
3. Keras

| Data Science Tools |
|--------------------|
|Apache Spark|
|Apache Hadoop|
|D3.js|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335